[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=david_aws
Group=www-data
WorkingDirectory=/home/david_aws/django-blog
ExecStart=/home/david_aws/django-blog/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          david_portfolio.wsgi:application

[Install]
WantedBy=multi-user.target